@import "bourbon"
@import "fakt"

$red:           #DB4553
$off-white:     #FAFAFA

*
  margin: 0

body
  font-family: "Fakt"
  color: #666

header
  margin: 60px 80px 0px 80px
  p
    width: 700px
    line-height: 1.5em
    @media (max-width: 730px)
      width: auto !important
  h1
    @media (max-width: 730px)
      font-size: 1.3em
hr
  width: 90px
  height: 1px
  border: none
  border-top: 1px solid #ccc
  margin: 30px 0

a
  text-decoration: none
  color: #666
  +transition()
  &:hover
    color: $red

nav
  display: flex
  align-items: center
  margin: 20px 80px
  text-align: center
  @media (max-width: 730px)
    margin: 20px
  @media (max-width: 400px)
    font-size: .8em
  @media (max-width: 350px)
    font-size: 10px
  .left
    flex-grow: 1
  .logo
    background: $red
    border-radius: 50%
    width: 75px
    height: 75px
    display: flex
    justify-content: center
    align-items: center
    +transition()
    cursor: pointer
    &:hover
      background: lighten($red, 10)
    a
      font-size: 1.5em
      color: white
  a
    margin: 0 10px
    text-transform: uppercase

  .btn
    border: 2px solid $red
    padding: 5px 10px
    color: $red
    border-radius: 2px
    +transition()
    &:hover
      background: $red
      color: white


main
  width: calc(100vw - 40px)
  padding: 40px 20px
  background: $off-white
  min-height: 100vh
  margin-top: 80px
  @media (max-width: 550px)
    padding: 0px !important
    width: 100vw
  .row
    display: flex
    justify-content: center
    align-items: center
    @media (max-width: 550px)
      flex-direction: column
    .img
      margin: 10px
      height: 250px
      +transition()
      cursor: pointer
      &:hover
        opacity: .8
      background:
        image: url()
        size: cover
        position: center
      @media (max-width: 550px)
        margin: 10px 0
      figcaption
        display: flex
        flex-direction: column
        height: 100%
        width: 100%
        color: white
      .bottom-right
        justify-content: flex-end
        align-items: flex-end
        h3,p
          padding-right: 20px
        p
          padding-bottom: 20px
      .bottom-left
        @extend .bottom-right
        align-items: flex-start
        h3,p
          padding-left: 20px
          padding-right: 0px
      .top-left
        @extend .bottom-right
        align-items: flex-start
        justify-content: flex-start
        h3,p
          padding-left: 20px
          padding-right: 0px
        h3
          padding-top: 20px
        p
          padding-bottom: 0px
    .one-third
      width: 33vw
      @media (max-width: 550px)
        width: 100vw !important
    .half
      width: 50vw
      @media (max-width: 550px)
        width: 100vw !important
    .two-third
      width: 66vw
      @media (max-width: 550px)
        width: 100vw !important
    .tall
      height: 510px
      @media (max-width: 550px)
        height: 250px



footer
  display: flex
  margin: 20px 40px
  @media (max-width: 730px)
    flex-direction: column
  .col-1
    width: 50vw
    @media (max-width: 730px)
      width: 100vw
    h3
      color: $red
      padding-bottom: 40px
    .copyright
      padding-top: 60px

  .col-2
    display: flex
    flex-direction: column
    align-items: flex-end
    &:last-child
      flex-grow: 1
    a
      margin: 5px 0
    @media (max-width: 730px)
      display: none
