doctype html
html(lang="en")
  head
    title RangeFinder
    meta(charset="utf-8")
    link(rel="stylesheet" href="css/master.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    nav
      .left
        .logo
          a(href="#") OVX
      a(href="#") About
      a(href="#") Services
      a.btn(href="#") Hire Us 
       
    
    header
      h1 Once photography, always photography.
      hr
      p(style="width: 700px; line-height: 1.3em") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      
    main
      .row
        .img.two-third(style="background: pink")
          figcaption.bottom-right
            h3 New York
            p Travel & Adventure
        .img.one-third(style="background: orange")
          figcaption.bottom-left
            h3 Water Crash
            p Travel & Adventure
      .row
        .img.half.tall(style="background: slateblue")
          figcaption.top-left
            h3 Pink Balloon
            p Interiors & Architecture
        .col
          .img.half(style="background: slategray")
            figcaption.bottom-left
              h3 Nike Footwear
              p Product
          .img.half(style="background: orangered")
            figcaption.top-left
              h3 Dog
              p Animals
      .row
        .img.one-third(style="background: pink")
          figcaption.top-left
            h3 John Doe
            p People
        .img.one-third(style="background: slateblue")
          figcaption.top-left
            h3 Minimalist Buildings
            p Interiors & Architecture
        .img.one-third(style="background: slategray")
          figcaption.top-left
            h3 Festive
            p Product

    footer
      .col-1
        h3 Start a new project?
        a(href="https://maps.google.com") UltraLinx Studio, High Rise Building
          br
          | Random Street Name
          br
          | Amazing City
          br
          | 37234
          br
          | United Kingdom
        
        p.copyright &copy; Copyright 2016 - UltraLinx - All Rights Reserved
        
      .col-2
        a(href="#") Facebook
        a(href="#") Twitter
        a(href="#") Dribbble
        a(href="#") Pinterest
        a(href="#") Instagram
        
      .col-2
        a(href="#") Projects
        a(href="#") Client List
        a(href="#") About
        a(href="#") Services
        a(href="#") Privacy Policy
        a(href="#") Contact 
        
